#alpcContent {
    position: relative;
    width: 200px;
    height: 200px;
}
#alpcFace {
    position: absolute;
    width: 200px;
    height: 200px;
}

#alpcHand {
    position: absolute;
    width: 75px;
    height: 75px;
}

.pos-P {
    top: 65px;
    left: 15px;
}
.pos-C {
    top: 80px;
    left:-10px;
}
.pos-B {
    top: 100px;
    left: 25px;
}
.pos-M {
    top: 130px;
    left: 50px;
}
.pos-G {
    top: 150px;
    left: 50px;
}
